- title: 'Group 1'
  checks:
    - name: GitHub Home
      type: http
      host: https://github.com
      url: https://docs.github.com/en
      expected_code: 200

    - name: GitHub API
      type: http
      host: https://api.github.com
      url: https://api.github.com/users
      expected_code: 200


- title: 'Group 2'
  checks:
    - name: Cloudflare DNS Checker
      type: ping
      host: 1.1.1.1

    - name: Dummy Postgres Database
      type: port
      host: ec2-54-173-89-248.compute-1.amazonaws.com
      port: 5432
